.btn-circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  border: solid 1px;
}

.btn-rainbow {
  background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 0%,
        rgb(79, 0, 236) 17%,
        rgba(79, 220, 74, 1) 34%,
        rgba(255, 0, 0, 1) 51%,
        rgba(208, 222, 33, 1) 68%,
        rgba(47, 201, 226, 1) 85%,
        rgba(255, 255, 255, 1) 100%
    );
  width: 25px;
  height: 25px;
}